:root{
	--myBorder: 1px solid black;
};

html, body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}


body {
	background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .5)), url(img/piggy-bg-2.jpg);
	height: 100vh;
	width: 100%; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Syne Mono', monospace;
}

div {
	color: #000;
}


.main-container {/*
	border: 1px solid red;*/
	width: 650px;
	height: 600px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 40px;
	overflow: hidden;	
	background-color: #ffeee6;
}

.section-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'left-column right-column';
	overflow: hidden;
	border-bottom: 1px solid gray;
	background-color: #FEE8F8;
}


.active-section {
	grid-area: left-column;
	background-color: #FFC0CB;
}


.name-section {/*
	border: var(--myBorder);*/
	height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.names {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

.score {
	font-size: 60px;
	color: red;
	text-align: center;
}

.total-score {
	width: 50%;
	margin: 0 auto;
	padding: 15px;
	border-radius: 10%;
	color: white;
	text-align: center;
	font-size: 30px;
	margin-bottom: 10px;
	text-transform: uppercase;
	background-color: #F74C6E;
}


.section-wrapper-2 {
	background-color: #ffeee6;
	overflow: auto;
}

.dice-section {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 10px;
	background-color: #ffeee6;
	/*
	border: 1px solid black;*/

}

.dice-section img {
	width: 75px;
	height: 75px;
	margin: 0 auto;
}

.button-section {
	background-color: #ffeee6;
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	margin: 0 auto;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 28px;
}

.hold,
.roll,
.new-game {
	border: 1px solid black;
	text-align: center;
	padding: 7px;
	border-radius: 5px;
}


